<?xml version="1.0" encoding="windows-1252" standalone="yes" ?>
<PtokaX Version="v1.0 Beta NITW">
    <Booleans>
        <Bool Name="AutoStart">1</Bool>
        <Bool Name="RedirectWhenHubFull">0</Bool>
        <Bool Name="ShareLimitRedir">0</Bool>
        <Bool Name="SlotsLimitRedir">0</Bool>
        <Bool Name="HubSlotRatioRedir">0</Bool>
        <Bool Name="LogScriptErrors">1</Bool>
    </Booleans>
    <Integers>
        <Integer Name="MaxUsers">800</Integer>
    </Integers>
    <Strings>
        <String Name="HubName">NIT Warangal e-Library Server</String>
        <String Name="HubAddress">172.30.106.169</String>
        <String Name="TCPPorts">1209;411;3128</String>
        <String Name="HubDescription">e-Library System</String>
        <String Name="BotNick">Librarian</String>
        <String Name="OpChatNick">ChatBot</String>
    </Strings>
</PtokaX>
